.kv-eva {
    background: url(../img/eva_kv.jpg) no-repeat bottom center/ cover;
}

.eva {
    .cir1 {
        background: #009944;
    }
    .cir2 {
        background: #4a7d6b;
    }
    .cir3 {
        background: #ea5406;
    }
}