extends ./include/layout
include ./include/mixin
block own_style
    link(rel = 'stylesheet', href = 'css/project.css')
    script(src = './js/Project.min.js')
block content
    +scroll
    main.por.house
        .kv.kv-house
        .device.mac.wow.fadeInUp(style={opacity:0})
            +png('house')
        section.introBox
            .left.wow.fadeInUp(style={opacity:0})
                h3 
                    span.break 閱狷聲
                    span.break 電子錶版
                a(href="http://bighouse.webgene.com.tw/" target='_blank') 
                    span VIEW WEBSITE
                    span.arrow
            .right.wow.fadeInUp(style={opacity:0})
                .intro
                    h4 Description
                    p 
                        span.break 過好日子，也要好好過日子。這是城中建設推出的新成屋案【閱狷聲】在銷售時使用的電子錶版，因此只提供給 1920 全銀幕使用，在字體以及按鈕的大小規劃上，為了讓user在距離不是很近的電視上能夠清楚看到文字以及按鈕，都有特別放大，讓 user 也比較好操作。
                        span.break 網站整體以簡潔、人文、典雅的風格為主，希望能讓想買房子的人在聽銷售人員解說時也能感受到沉靜的質感，一起好好享受生活。
                .intro
                    h4 Information
                    ul
                        li
                            span Project
                            span 閱狷聲
                        li
                            span Client
                            span 城中建設
                        li
                            span Year
                            span 2018
                        li
                            span Role
                            span 
                                span.break 1920 HD Web Design, UI Design,
                                span.break PSD to Html
        .mockup.wow.fadeInUp(style={opacity:0})
            +jpg('house-layout')
        section.identity
            +sub-tt('identity')
            main
                .left.wow.fadeInUp(style={opacity:0})
                    .info
                        h4 typography
                        ul.typo
                            li.notoSans
                                p 思源黑體 Noto Sans CJK TC Regular
                                p.font-m 思源黑體 Noto Sans CJK TC Medium
                                p.font-b 思源黑體 Noto Sans CJK TC Bold
                .right.wow.fadeInUp(style={opacity:0})
                    .info
                        h4 color
                        ul.color.kids-color
                            li
                                .cir.cir1
                                p #000000
                            li
                                .cir.cir2
                                p #6f6f6f
                            li
                                .cir.cir3
                                p #dab896
        .mockup.wow.fadeInUp(style={opacity:0})
            +jpg('house-layout2')
        +switchBox('kids','wildaid')