extends ./include/layout
include ./include/mixin
block own_style
    link(rel = 'stylesheet', href = 'css/project.css')
    script(src = './js/Project.min.js')
block content
    +scroll
    main.por.sprite-cool
        .kv.kv-sprite-cool
        .device.mac.wow.fadeInUp(style={opacity:0})
            +png('sprite-cool1')
        section.introBox
            .left.wow.fadeInUp(style={opacity:0})
                h3 
                    span.break Cool 玩瓶 BE YOU 
                    span.break 激發最酷的你
                a(href="https://cell.webgene.com.tw/technic/project/Sprite/aws%E6%AD%A3%E5%BC%8F/2017beyou/index.html" target='_blank') 
                    span VIEW WEBSITE
                    span.arrow
            .right
                .intro.wow.fadeInUp(style={opacity:0})
                    h4 Description
                    p 
                        span.break 雪碧邀請潮流街頭藝術家「KEA」推出新包裝，溝通 Cool 玩瓶新主張及設計理念。
                        span.break 網站設計主題使用 KEA 的塗鴉瓶為素材，色調比較暗黑，並帶入街頭塗鴉藝術感。除了溝通 cool 玩瓶之外，網站內還加入了製作專屬大頭貼的小互動，讓 user 可以一起宣揚 BE YOU 精神，說出自己的生活主張！
                .intro.wow.fadeInUp(style={opacity:0})
                    h4 Information
                    ul
                        li
                            span Project
                            span Cool 玩瓶 BE YOU 激發最酷的你 
                        li
                            span Client
                            span Sprite
                        li
                            span Year
                            span 2017
                        li
                            span Role
                            span 
                                span.break Responsive Web Design, UI Design,
                                span.break PSD to Html
        .mockup.wow.fadeInUp(style={opacity:0})
            +jpg('sprite-cool_layout')
        section.identity
            +sub-tt('identity')
            main
                .left.wow.fadeInUp(style={opacity:0})
                    .info
                        h4 typography
                        ul.typo
                            li.sprite-typo
                              +svg('sprite_typo')  
                            li.notoSans
                                p.gray-l 內文
                                p 思源黑體 Noto Sans CJK TC Regular
                                p.font-m 思源黑體 Noto Sans CJK TC Medium
                                p.font-b 思源黑體 Noto Sans CJK TC Bold
                .right.wow.fadeInUp(style={opacity:0})
                    .info
                        h4 color
                        ul.color.sprite-color
                            li
                                .cir.cir1
                                p #009d42
                            li
                                .cir.cir2
                                p #ffe100
                            li
                                .cir.cir3
                                p #fff
        section.layout
            +sub-tt('layout')
            .box.pageBox
                .page.page1.wow.fadeInUp(style={opacity:0})
                    +jpg('sprite-cool_layout2')
                .page.page2.wow.fadeInUp(style={opacity:0})
                    +jpg('sprite-cool_layout3')
            .box.wall-g
                .page-g1-outer.wow.fadeInUp(style={opacity:0})
                    .page-g1
                        +png('sprite-cool_layout4')
                .page-g2-outer.wow.fadeInUp(style={opacity:0})
                    .page-g2
                        +png('sprite-cool_layout5')
                .page-g3-outer2.wow.fadeInUp(style={opacity:0})
                    .page-g3-outer.por
                        .page-g3
                            +png('sprite-cool_layout6') 
                    .page-g4.abs
                        +png('sprite-cool_layout6-bg')
        .mockup.wow.fadeInUp(style={opacity:0})
            +jpg('sprite-cool_layout7')
        +switchBox('coke','sprite-24')