include ./mixin
.about.animated.fadeInLeft(style="display:none")
    a(href="#").close close 
    .bg
    .content
        .pic
            +jpg('profile')
            +scroll
        .profile
            h2 #葉純茵
            p 花蓮人，又稱花蓮王的子民啊 ! 喜歡山、喜歡水、喜歡一切美好的事物，於是決定將生命浪費在創造美好的事物上。
            p 在數位廣告代理商任職的期間，熟悉網站建置流程及使用者體驗，並與團隊協作溝通，平時以突破盲腸為樂。在閒暇之時喜歡瀏覽設計網站，提升設計的敏銳度，也不斷的自我學習，以獲得新技能，能夠有效率的解任務。
            .histroy
                .box
                    ul
                        li.sub Experience
                        li.detail
                            ul
                                li 
                                    span.time 2014/04 - 2018/10
                                    span 
                                        span.break 網路基因 - 資深數位設計師
                                        span.break.gray 負責網路活動網站規劃設計及切版
                                        span.break.gray 以及社群貼文、廣告banner設計
                                li.experienceBox
                                    span.time 2012/11 - 2014/04 
                                    span
                                        span.break 大漢整合行銷 - 設計專員
                                        span.break.gray 負責品牌實體活動之視覺排版設計、
                                        span.break.gray 平面排版設計、相關製作物延伸排版設計
                                        span.break.gray 以及製作物輸出發包
                .box
                    ul
                        li.sub Education
                        li.detail
                            ul
                                li 
                                    span.time 2008/09 - 2011/06
                                    span 
                                        span.break 淡江大學 - 資訊傳播學系
                .box
                    ul
                        li.sub What I do
                        li.detail
                            ul
                                li Web Design 
                                li UI Design
                                li Visual Design
                .box
                    ul
                        li.sub Skills
                        li.detail
                            ul
                                <li>Photoshop, Illustrator, Sketch</li>
                                <li>CSS3, HTML5, RWD, Scss , Pug</li>
                                <li>VS code, Sublime, Invision, Zeplin, Github</li>

                .box
                    ul
                        li.sub Contact
                        li.detail
                            ul
                                <li>+886-928-135-451</li>
                                li
                                    a(href="mailto:yehcyamm@gmail.com").mail yehcyamm@gmail.com                               