#overlay.overlay
  nav.overlay-menu
    ul
      li
        a(href='index.html') home
      |       
      li(data-nav-type="about")
        a(href='#') about
      |       
      li
        a(href='work.html') work
      |       
script(src='http://cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js') 
script(src='js/vendor/bur.js')
